*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: $white;
  color: $general;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.flex {
  display: flex;

  &_column {
    flex-direction: column;
  }

  &_a-center {
    align-items: center;
  }

  &_j-between {
    justify-content: space-between;
  }

  &_j-end {
    justify-content: flex-end;
  }
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

p {
  margin: 0;
}

.fade-leave-active,
.fade-enter-active {
  transition: $transition-base;
}

.fade-leave-to {
  opacity: 0;
}
